<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Checkout</h1>
            <button class="btn btn-success" onclick="payProducts()">Pagar</button>
        </div>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='/js/checkout.js'></script>