<div class="container">
    <div class="row justify-content-center">
        <div class="col-9">
            <h1>Pago cancelado</h1>
            <a href="/products">Volver al inicio</a>
        </div>
    </div>
</div>